$principal: #F1002B;
$secundario: #C4002E;
$gradiente-principal: linear-gradient(to bottom, #f1002b, #e6002c, #db002d, #cf002e, #c4002e);
$blanco: #FFF;
$negro: #000;
$fondo-productos: #F0F0F0;
$fuente-principal: 'Prompt', sans-serif;
$icono-abrir-menu: scale(1);
$icono-cerrar-menu: scale(0);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background: $gradiente-principal;
}


@media screen and (max-width: 376px){

    .header{
        width: 100%;
        height: 3.75rem;
        position: fixed;
        top: 0;
        z-index: 99;
        font-family: $fuente-principal;

        &__mobile{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .9375rem .9375rem .625rem .625rem;
            position: relative;
            --abrir-menu: scale(1);
            --cerrar-menu: scale(0);

            &:has( .header__mobile__menu:target ){
                --abrir-menu: scale(0);
                --cerrar-menu: scale(1);
                --slide-menu: inset(0 0 0 0);
                --overlay-color: rgba(0,0,0,0.5);
                --overlay-display: block;
                --bg-close-icon: #FFF;
            }
        }

        &__mobile__left{
            display: grid;
            grid-template-columns: 1.875rem 3rem;
            grid-template-areas: "menu logo";
            align-items: center;
            justify-content: space-between;
            gap: 1.25rem;
        }

        &__menu__open{
            grid-area: menu;
            transform: var(--abrir-menu);
            z-index: 100;

            &__icon{
                width: 1.875rem;
            }
        }

        &__menu__close{
            grid-area: menu;
            transform: var(--cerrar-menu);
            z-index: 100;

            &__icon{
                width: 1.875rem;
                transition: background-color .5s;
            }
        }

        &__logo{
            display: flex;
            align-items: center;
            gap: .3125rem;
            text-decoration: none;

            &__image{
                width: 1.875rem;
                height: 1.875rem;
            }

            &__text{
                font-family: $fuente-principal;
                font-size: 1.125rem;
                font-weight: 700;
                font-style: italic;
                color: $blanco;
            }
        }

        &__mobile__right{
            position: absolute;
            right: .9375rem;
            display: grid;
            grid-template-columns: repeat(3, 1.875rem);
            grid-template-areas: "search cart user";
            align-items: center;
            gap: .625rem;
        }

        &__search__icon{
            width: 1.875rem;
        }

        &__shopping__cart{
            width: fit-content;
            position: relative;

            &__icon{
                width: 1.875rem;
            }

            &__items{
                width: .9375rem;
                height: .9375rem;
                display: none;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -0.25rem;
                right: 0;
                background-color: $blanco;
                color: $principal;
                font-family: $fuente-principal;
                font-size: .625rem;
                font-weight: 700;
                border-radius: 50%;
            }
        }

        &__user__icon{
            width: 1.875rem;
        }

        &__overlay{
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: var(--overlay-color, transparent);
            top: 0;
            left: 0;
            bottom: 0;
            display: var(--overlay-display, none);
        }
        
        &__mobile__menu{
            position: absolute;
            background-color: $blanco;
            width: 75%;
            min-height: 100vh;
            top: 0;
            left: 0;
            bottom: 0;
            padding: 4.5rem .625rem 100px .625rem;
            display: grid;
            align-items: center;
            gap: .3125rem;
            overflow-y: auto;
            clip-path: var(--slide-menu, inset(0 100% 0 0));
            transition: clip-path .5s;
            z-index: 2;

            &__top{
                width: 100%;
                height: 60px;
                background-color: $blanco;
                position: fixed;
                top: 0;
                left: 0;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
                z-index: 3;

                &__logo{
                    position: relative;
                    width: 75%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &__image{
                        width: 1.875rem;
                    }

                    &__text{
                        color: $principal;
                        font-size: 1.125rem;
                        font-style: italic;
                    }
                }
            }

            &__item{
                list-style: none;

                &:has( :checked ){
                    --rows: 1fr;
                    --rotate: rotate(180deg);
                    --submenu-open: #F1002B;
                    --submenu-open-text: #FFF;
                    --submenu-open-icon: brightness(0) invert(1);
                }

                &__icon{
                    width: 1.875rem;
                    filter: var(--submenu-open-icon, none);
                }

                &__anchor{
                    display: block;
                    color: var(--submenu-open-text, $principal);
                    text-decoration: none;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    padding: .625rem;
                    border-radius: 5px;
                    gap: .625rem;
                    position: relative;
                    background-color: var(--submenu-open, #F0F0F0);
                }

                &__arrow{
                    position: absolute;
                    right: 1.25rem;
                    width: 1.875rem;
                    transform: var(--rotate, 0);
                    transition: .5s transform;
                    filter: var(--submenu-open-icon, none);
                }

                &__checkbox{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }

        &__mobile__submenu{
            display: grid;
            grid-template-rows: var(--rows, 0fr);
            transition: grid-template-rows 500ms;

            &__list{
                overflow: hidden;

                &__item{
                    width: 85%;
                    list-style: none;
                    margin-left: auto;

                    &__anchor{
                        display: block;
                        padding: .5rem 0;
                        text-decoration: none;
                        color: $principal;
                    }

                    &:first-child{
                        margin-top: 10px;
                    }

                    &:last-child{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    @keyframes menu-slide-down{
        from{top:-200px; opacity:0;}
        to{top:60px; opacity:1;}
    }

    @keyframes menu-slide-up{
        from{top:60px; opacity:1;}
        to{top:-200px; opacity:0;}
    }

    .offers{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 3.75rem;
        margin-bottom: 20px;
        z-index: 1;

        &__title{
            font-family: $fuente-principal;
            font-size: 1.5rem;
            color: $principal;
            text-align: center;
            margin-bottom: .625rem;
        }

        &__container{
            width: 100vw;
            height: auto;
            overflow: hidden;
            position: relative;

            &__left{
                width: 2.5rem;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0%, -50%);
                background-color: rgba(0, 0, 0, 0.1);
                z-index: 2;
            }

            &__left:hover{
                background-color: rgba(0, 0, 0, 0.5);
            }

            &__right{
                width: 2.5rem;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0%, -50%);
                background-color: rgba(0, 0, 0, 0.1);
                z-index: 2;
            }

            &__right:hover{
                background-color: rgba(0, 0, 0, 0.5);
            }

            &__slide{
                min-width: 100%;
                display: flex;

                &__container{
                    min-width: 100%;
                    max-height: 11.25rem;

                    &__image{
                        width: 100%;
                        height: 100%;
                        transform: translateX(0%);
                    }
                }
            }
        }
    }

    .welcome{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 1.25rem;
        margin-bottom: 1.25rem;

        &__title{
            font-family: $fuente-principal;
            font-size: 1.625rem;
            color: $principal;
            font-weight: 700;
            text-align: center;
        }

        &__subtitle{
            font-family: $fuente-principal;
            font-size: 1rem;
            color: $principal;
            font-weight: 400;
            text-align: center;
            margin-bottom: .625rem;
        }

        &__search{
            width: 100%;
            padding: .625rem .625rem .625rem 3.125rem;
            border: 2px solid $principal;
            border-radius: 20px;
            background-image: url('../icons/red_variants/search.svg');
            background-repeat: no-repeat;
            background-size: 1.25rem;
            background-position: .9375rem center;
        }
    }

    .details{
        width: 100%;
        background: $gradiente-principal;
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
        margin-bottom: 1.875rem;

        &__in{
            width: 100%;
            font-family: $fuente-principal;
            font-size: .875rem;
            color: $blanco;
            text-align: center;
        }

        &__logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .3125rem;
            margin-bottom: .625rem;

            &__image{
                width: 5rem;
            }

            &__text{
                font-family: $fuente-principal;
                font-size: 1.875rem;
                color: $blanco;
                font-style: italic;
            }
        }

        &__paragraph{
            width: 100%;
            font-family: $fuente-principal;
            font-size: 1rem;
            color: $blanco;
            text-align: center;
            line-height: 1.25rem;
            margin-bottom: 1.875rem;
        }

        &__devices{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__content{
                width: 33%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0rem 1.25rem;
                margin-bottom: 1.875rem;
                position: relative;

                &__image{
                    width: 1.875rem;

                    &__left{
                        width: 1.875rem;
                        position: absolute;
                        left: 2px;
                        top: -1px;
                    }

                    &__right{
                        width: 1.875rem;
                        position: absolute;
                        right: 0;
                    }
                }

                &__text{
                    font-family: $fuente-principal;
                    color: $blanco;
                    font-size: .75rem;
                }
            }
        }

        &__brands{
            width: 100%;
            padding: 1.25rem 0px;

            &__title{
                width: 100%;
                font-family: $fuente-principal;
                color: $blanco;
                font-size: 1rem;
                font-weight: 400;
                text-align: center;
                margin-bottom: 1.875rem;
            }
    
            &__container{
                width: 100%;
                height: auto;
                overflow: hidden;
            }
    
            &__scroll{
                display: flex;
                gap: 1.875rem;
                animation: horizontal-loop 20s linear infinite;
    
                &__container{
                    min-width: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &__image{
                        width: 100%;
                        filter: brightness(0) invert(1);
                        //filter: brightness(0%) contrast(100%) saturate(0%);
                    }
                }
            }
        }
    }

    @keyframes horizontal-loop {
        0% {
          transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-2.5rem * 21));
        }
    }

    .populars{
        width: 100%;
        font-family: $fuente-principal;
        padding: 0rem .625rem;
        margin-bottom: 1.25rem;

        &__title{
            display: flex;
            align-items: center;
            font-family: $fuente-principal;
            font-size: 1.5rem;
            margin-bottom: 1.25rem;

            &__image{
                width: 3.125rem;
            }
        }

        &__container{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: .625rem;

            &__product{
                width: 48%;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                background-color: $fondo-productos;
                padding: .625rem 0rem;
                position: relative;

                &__discount{
                    width: 1.5625rem;
                    position: absolute;
                    top: 0px;
                    right: .9375rem;
                    background-color: $principal;
                }

                &__image{
                    width: 100%;
                    height: 9.375rem;
                }

                &__name{
                    color: $negro;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: .625rem;
                    text-decoration: none;
                }

                &__price{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 1.25rem;
                    gap: .625rem;

                    &__discount{
                        width: 70%;
                        height: 1.875rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1rem;
                        background-color: $principal;
                        color: $blanco;
                        border-radius: 20px;
                    }

                    &__before{
                        font-size: .75rem;
                    }

                    &__regular{
                        width: 70%;
                        height: 1.875rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1rem;
                        background-color: $blanco;
                        padding: 0rem .3125rem;
                        border-radius: 20px;
                        text-decoration: line-through;
                        font-style: italic;
                    }
                }

                &__actions{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .5rem;

                    &__buy-now{
                        width: 90%;
                        height: 2.5rem;
                        background-color: orange;
                        border: none;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .3125rem;


                        &__icon{
                            width: 1.5625rem;
                        }

                        &__text{
                            font-weight: 700;
                            color: $negro;
                        }
                    }

                    &__add-to-cart{
                        width: 90%;
                        height: 2.5rem;
                        background-color: transparent;
                        border: 2px solid $principal;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .3125rem;
                        color: $principal;
                        
                        &:hover{
                            background-color: $principal;
                            color: $blanco;
                        }

                        &__icon{
                            display: block;
                            width: 1.5625rem;
                        }

                        &__icon__white{
                            display: none;
                            width: 1.5625rem;
                        }

                        &:hover &__icon{
                            display: none;
                        }
    
                        &:hover &__icon__white{
                            display: block;
                        }

                        &__text{
                            font-weight: 700;
                        }
                    }
                }
            }

        }
    }

    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: $gradiente-principal;
        color: $blanco;
        font-family: $fuente-principal;
        padding: 1.25rem 0rem;

        &__logo{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.25rem;

            &__image{
                width: 1.875rem;
            }

            &__text{
                font-size: 1rem;
                font-style: italic;
            }

            &__year{
                font-size: .875rem;
                font-weight: 400;
                font-style: normal;
                margin-left: .625rem;
            }
        }

        &__contact{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: .625rem;

            &__item{
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: .625rem;
                gap: .3125rem;

                &__logo{
                    width: 1.25rem;
                }

                &__text{
                    font-size: .875rem;
                    white-space: nowrap;
                }
            }
        }

        &__rights{
            display: flex;
            flex-direction: column;
            gap: .625rem;

            &__all-rights{
                width: 100%;
                font-size: .75rem;
                font-weight: 700;
                text-align: center;
            }

            &__terms-and-conditions{
                width: 100%;
                font-size: .75rem;
                font-weight: 700;
                text-decoration: none;
                color: $blanco;
                text-align: center;
            }
        }
    }

}

@media screen and (max-width: 322px){
    *{
        font-size: 12px;
    }
}

@media screen and (max-width: 255px){
    *{
        font-size: 10px;
    }
}

@media screen and (max-width: 175px){
    *{
        font-size: 8px;
    }
}

@media screen and (max-width: 100px){
    *{
        font-size: 6px;
    }
}