* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(to bottom, #f1002b, #e6002c, #db002d, #cf002e, #c4002e);
}

@media screen and (max-width: 376px) {
  .header {
    width: 100%;
    height: 3.75rem;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: "Prompt", sans-serif;
  }
  .header__mobile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 0.9375rem 0.625rem 0.625rem;
    position: relative;
  }
  .header__mobile__left {
    display: grid;
    grid-template-columns: 1.875rem 3rem;
    grid-template-areas: "menu logo";
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }
  .header__menu__open {
    background: transparent;
    border: none;
    grid-area: menu;
    transform: scale(1);
    z-index: 10;
    cursor: pointer;
  }
  .header__menu__open__icon {
    width: 1.875rem;
  }
  .header__menu__close {
    background: transparent;
    border: none;
    grid-area: menu;
    transform: scale(0);
    z-index: 100;
  }
  .header__menu__close__icon {
    width: 1.875rem;
    transition: background-color 0.5s;
  }
  .header__logo {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    text-decoration: none;
  }
  .header__logo__image {
    width: 1.875rem;
    height: 1.875rem;
  }
  .header__logo__text {
    font-family: "Prompt", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: italic;
    color: #FFF;
  }
  .header__mobile__right {
    position: absolute;
    right: 0.9375rem;
    display: grid;
    grid-template-columns: repeat(3, 1.875rem);
    grid-template-areas: "search cart user";
    align-items: center;
    gap: 0.625rem;
  }
  .header__search__icon {
    width: 1.875rem;
  }
  .header__shopping__cart {
    width: fit-content;
    position: relative;
  }
  .header__shopping__cart__icon {
    width: 1.875rem;
  }
  .header__shopping__cart__items {
    width: 0.9375rem;
    height: 0.9375rem;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.25rem;
    right: 0;
    background-color: #FFF;
    color: #F1002B;
    font-family: "Prompt", sans-serif;
    font-size: 0.625rem;
    font-weight: 700;
    border-radius: 50%;
  }
  .header__user__icon {
    width: 1.875rem;
  }
  .header__overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
  }
  .header__mobile__menu {
    position: absolute;
    background-color: #FFF;
    width: 75%;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 4.5rem 0.625rem 0rem 0.625rem;
    display: grid;
    align-items: center;
    gap: 0.3125rem;
    overflow-y: auto;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.5s;
    z-index: 13;
  }
  .header__mobile__menu__top {
    width: 100%;
    height: 3.75rem;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
  .header__mobile__menu__top__logo {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__mobile__menu__top__logo__image {
    width: 1.875rem;
  }
  .header__mobile__menu__top__logo__text {
    color: #F1002B;
    font-size: 1.125rem;
    font-style: italic;
  }
  .header__mobile__menu__item {
    list-style: none;
  }
  .header__mobile__menu__item:last-child {
    margin-bottom: 12.5rem;
  }
  .header__mobile__menu__item:has(:checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --submenu-open: #F1002B;
    --submenu-open-text: #FFF;
    --submenu-open-icon: brightness(0) invert(1);
  }
  .header__mobile__menu__item__icon {
    width: 1.875rem;
    filter: var(--submenu-open-icon, none);
  }
  .header__mobile__menu__item__anchor {
    display: block;
    color: var(--submenu-open-text, #F1002B);
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0.625rem;
    border-radius: 5px;
    gap: 0.625rem;
    position: relative;
    background-color: var(--submenu-open, #F0F0F0);
  }
  .header__mobile__menu__item__arrow {
    position: absolute;
    right: 1.25rem;
    width: 1.875rem;
    transform: var(--rotate, 0);
    transition: 0.5s transform;
    filter: var(--submenu-open-icon, none);
  }
  .header__mobile__menu__item__checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .header__mobile__submenu {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.5s grid-template-rows;
  }
  .header__mobile__submenu__list {
    overflow: hidden;
  }
  .header__mobile__submenu__list__item {
    width: 85%;
    list-style: none;
    margin-left: auto;
  }
  .header__mobile__submenu__list__item__anchor {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: #F1002B;
  }
  .header__mobile__submenu__list__item:first-child {
    margin-top: 10px;
  }
  .header__mobile__submenu__list__item:last-child {
    margin-bottom: 10px;
  }
  .header__mobile__login {
    position: absolute;
    background-color: #FFF;
    width: 75%;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 7rem 0.625rem 0rem 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    overflow-y: auto;
    clip-path: inset(0 0 0 100%);
    transition: clip-path 0.5s;
    z-index: 13;
  }
  .header__mobile__login__close {
    position: absolute;
    top: 15px;
    right: 25px;
    background: transparent;
    border: none;
  }
  .header__mobile__login__close__icon {
    width: 1.875rem;
  }
  .header__mobile__login__logo {
    width: 3.75rem;
  }
  .header__mobile__login__title {
    font-size: 1.5rem;
  }
  .header__mobile__login__sign-in {
    display: block;
    background-color: transparent;
    width: 70%;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    text-align: center;
    border: 2px solid #F1002B;
    color: #F1002B;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
  }
  .header__mobile__login__sign-in:hover {
    background-color: #F1002B;
    color: #FFF;
  }
  .header__mobile__login__sign-up__advice {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0.3125rem;
  }
  .header__mobile__login__sign-up__button {
    display: block;
    background-color: #F1002B;
    width: 70%;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #F1002B;
    color: #FFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }
  .header__mobile__login__sign-up__message {
    padding: 0px 1.25rem;
    font-size: 0.75rem;
    text-align: center;
  }
  .header__mobile__login__sign-up__message span {
    color: #F1002B;
    font-size: 0.75rem;
    font-weight: 700;
  }
  .header__mobile__search {
    position: absolute;
    top: 3.75rem;
    left: 0;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 4.0625rem 1.875rem 1.875rem 1.875rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    clip-path: inset(0 0 100% 0);
    transition: 0.5s clip-path;
    z-index: 12;
  }
  .header__mobile__search__close {
    position: absolute;
    top: 1.125rem;
    right: 1.5625rem;
    background-color: transparent;
    border: none;
  }
  .header__mobile__search__close__icon {
    width: 1.5625rem;
  }
  .header__mobile__search__title {
    position: absolute;
    top: 1.125rem;
    left: 3.125rem;
    font-size: 1.25rem;
  }
  .header__mobile__search__input {
    width: 80%;
    height: 2.1875rem;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #F1002B;
    font-size: 0.875rem;
    padding-left: 0.625rem;
    margin-bottom: 0.9375rem;
  }
  .header__mobile__search__button {
    width: 20%;
    height: 2.1875rem;
    background-color: #F1002B;
    border: none;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__mobile__search__button__icon {
    width: 1.25rem;
  }
  .header__mobile__search__filter {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__mobile__search__filter__type {
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 0.3125rem;
  }
  .header__mobile__search__filter__select {
    width: 80%;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    border: 2px solid #F1002B;
    background-color: transparent;
    font-size: 0.875rem;
    text-align: center;
  }
  .offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    margin-bottom: 20px;
    z-index: 1;
  }
  .offers__title {
    font-family: "Prompt", sans-serif;
    font-size: 1.5rem;
    color: #F1002B;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  .offers__container {
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  .offers__container__left {
    width: 2.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .offers__container__left:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .offers__container__right {
    width: 2.5rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .offers__container__right:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .offers__container__slide {
    min-width: 100%;
    display: flex;
  }
  .offers__container__slide__container {
    min-width: 100%;
    max-height: 11.25rem;
  }
  .offers__container__slide__container__image {
    width: 100%;
    height: 100%;
    transform: translateX(0%);
  }
  .welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 1.25rem;
    margin-bottom: 1.25rem;
  }
  .welcome__title {
    font-family: "Prompt", sans-serif;
    font-size: 1.625rem;
    color: #F1002B;
    font-weight: 700;
    text-align: center;
  }
  .welcome__subtitle {
    font-family: "Prompt", sans-serif;
    font-size: 1rem;
    color: #F1002B;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  .welcome__search {
    width: 100%;
    padding: 0.625rem 0.625rem 0.625rem 3.125rem;
    border: 2px solid #F1002B;
    border-radius: 20px;
    background-image: url("../icons/red_variants/search.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: 0.9375rem center;
  }
  .details {
    width: 100%;
    background: linear-gradient(to bottom, #f1002b, #e6002c, #db002d, #cf002e, #c4002e);
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    margin-bottom: 1.875rem;
  }
  .details__in {
    width: 100%;
    font-family: "Prompt", sans-serif;
    font-size: 0.875rem;
    color: #FFF;
    text-align: center;
  }
  .details__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    margin-bottom: 0.625rem;
  }
  .details__logo__image {
    width: 5rem;
  }
  .details__logo__text {
    font-family: "Prompt", sans-serif;
    font-size: 1.875rem;
    color: #FFF;
    font-style: italic;
  }
  .details__paragraph {
    width: 100%;
    font-family: "Prompt", sans-serif;
    font-size: 1rem;
    color: #FFF;
    text-align: center;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
  }
  .details__devices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .details__devices__content {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1.25rem;
    margin-bottom: 1.875rem;
    position: relative;
  }
  .details__devices__content__image {
    width: 1.875rem;
  }
  .details__devices__content__image__left {
    width: 1.875rem;
    position: absolute;
    left: 2px;
    top: -1px;
  }
  .details__devices__content__image__right {
    width: 1.875rem;
    position: absolute;
    right: 0;
  }
  .details__devices__content__text {
    font-family: "Prompt", sans-serif;
    color: #FFF;
    font-size: 0.75rem;
  }
  .details__brands {
    width: 100%;
    padding: 1.25rem 0px;
  }
  .details__brands__title {
    width: 100%;
    font-family: "Prompt", sans-serif;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.875rem;
  }
  .details__brands__container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .details__brands__scroll {
    display: flex;
    gap: 1.875rem;
    animation: horizontal-loop 20s linear infinite;
  }
  .details__brands__scroll__container {
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details__brands__scroll__container__image {
    width: 100%;
    filter: brightness(0) invert(1);
  }
  @keyframes horizontal-loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-52.5rem);
    }
  }
  .populars {
    width: 100%;
    font-family: "Prompt", sans-serif;
    padding: 0rem 0.625rem;
    margin-bottom: 1.25rem;
  }
  .populars__title {
    display: flex;
    align-items: center;
    font-family: "Prompt", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .populars__title__image {
    width: 3.125rem;
  }
  .populars__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
  .populars__container__product {
    width: 48%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F0F0F0;
    padding: 0.625rem 0rem;
    position: relative;
  }
  .populars__container__product__discount {
    width: 1.5625rem;
    position: absolute;
    top: 0px;
    right: 0.9375rem;
    background-color: #F1002B;
  }
  .populars__container__product__image {
    width: 100%;
    height: 9.375rem;
  }
  .populars__container__product__name {
    color: #000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.625rem;
    text-decoration: none;
  }
  .populars__container__product__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
    gap: 0.625rem;
  }
  .populars__container__product__price__discount {
    width: 70%;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #F1002B;
    color: #FFF;
    border-radius: 20px;
  }
  .populars__container__product__price__before {
    font-size: 0.75rem;
  }
  .populars__container__product__price__regular {
    width: 70%;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #FFF;
    padding: 0rem 0.3125rem;
    border-radius: 20px;
    text-decoration: line-through;
    font-style: italic;
  }
  .populars__container__product__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .populars__container__product__actions__buy-now {
    width: 90%;
    height: 2.5rem;
    background-color: orange;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
  }
  .populars__container__product__actions__buy-now__icon {
    width: 1.5625rem;
  }
  .populars__container__product__actions__buy-now__text {
    font-weight: 700;
    color: #000;
  }
  .populars__container__product__actions__add-to-cart {
    width: 90%;
    height: 2.5rem;
    background-color: transparent;
    border: 2px solid #F1002B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    color: #F1002B;
  }
  .populars__container__product__actions__add-to-cart:hover {
    background-color: #F1002B;
    color: #FFF;
  }
  .populars__container__product__actions__add-to-cart__icon {
    display: block;
    width: 1.5625rem;
  }
  .populars__container__product__actions__add-to-cart__icon__white {
    display: none;
    width: 1.5625rem;
  }
  .populars__container__product__actions__add-to-cart:hover .populars__container__product__actions__add-to-cart__icon {
    display: none;
  }
  .populars__container__product__actions__add-to-cart:hover .populars__container__product__actions__add-to-cart__icon__white {
    display: block;
  }
  .populars__container__product__actions__add-to-cart__text {
    font-weight: 700;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #f1002b, #e6002c, #db002d, #cf002e, #c4002e);
    color: #FFF;
    font-family: "Prompt", sans-serif;
    padding: 1.25rem 0rem;
  }
  .footer__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  .footer__logo__image {
    width: 1.875rem;
  }
  .footer__logo__text {
    font-size: 1rem;
    font-style: italic;
  }
  .footer__logo__year {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    margin-left: 0.625rem;
  }
  .footer__contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.625rem;
  }
  .footer__contact__item {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.625rem;
    gap: 0.3125rem;
  }
  .footer__contact__item__logo {
    width: 1.25rem;
  }
  .footer__contact__item__text {
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .footer__rights {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  .footer__rights__all-rights {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
  }
  .footer__rights__terms-and-conditions {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
    text-align: center;
  }
}
@media screen and (max-width: 322px) {
  * {
    font-size: 12px;
  }
}
@media screen and (max-width: 255px) {
  * {
    font-size: 10px;
  }
}
@media screen and (max-width: 175px) {
  * {
    font-size: 8px;
  }
}
@media screen and (max-width: 100px) {
  * {
    font-size: 6px;
  }
}

/*# sourceMappingURL=estilos.css.map */
